{% extends 'base.html' %}

{% block title %}
<title>Ajouter un prix</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="mb-4 text-center">Ajouter un prix pour un produit</h1>
            <form method="post" class="border p-4 shadow rounded">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between mt-3">
                    <button type="submit" class="btn btn-primary">Créer</button>
                    <a href="{% url 'productprice-list' %}" class="btn btn-secondary">Retour à la liste</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
