{% extends 'base.html' %}

{% block title %}
<title>Liste des ProductTypes</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Liste des ProductTypes</h1>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="{% url 'producttype-create' %}" class="btn btn-primary">Créer un nouveau ProductType</a>
        <div>
            <a href="{% url 'producttype-import' %}" class="btn btn-secondary">Importer un fichier Excel</a>
            <a href="{% url 'producttype-export' %}" class="btn btn-success">Exporter en Excel</a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Code</th>
                <th>Label</th>
                <th>Description</th> <!-- Nouvelle colonne ajoutée -->
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for producttype in producttypes %}
            <tr>
                <td>{{ producttype.code }}</td>
                <td>{{ producttype.label }}</td>
                <td>{{ producttype.description }}</td> <!-- Afficher la description -->
                <td>
                    <a href="{% url 'producttype-update' producttype.id %}" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="{% url 'producttype-delete' producttype.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Aucun ProductType trouvé.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
